
<link rel="stylesheet" href="/styles/main.css">

<h1>BComplex</h1>

<h3>
    <p>There you go! Start your journey securely with us!</p>
</h3>

<div class="credential" style="display: flex;">
    <form action="/register" method="GET">
        <input type="submit" name="register" class="btn-register" value="Register">
    </form>
    <form action="/login" method="GET">
        <input type="submit" name="login" class="btn-login" value="Login">
    </form>
</div>